<div class="content">

    <h2>Elementos de la instalación</h2>
    <div class="installation-elements">
        <div class="card">
            <h1>5</h1>
            <div class="card-body">
              <h5 class="card-title">Acumuladores</h5>
            </div>
          </div>

          <div class="card">
            <h1>3</h1>
            <div class="card-body">
              <h5 class="card-title">Depósitos</h5>
            </div>
          </div>

          <div class="card">
            <h1>20</h1>
            <div class="card-body">
              <h5 class="card-title">Puntos de salida</h5>
            </div>
          </div>
    </div>

    <h2>Últimas incidencias</h2>
    <div class="last-incidences">
        <div class="incidence">
            <div class="incidence-title"><p>Este es el titulo</p><p>12/12/2020</p></div>
            <p class="incidence-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspiciatis veritatis placeat esse, qui nam ea aspernatur voluptas consectetur tenetur animi ex, expedita blanditiis eum ipsa impedit voluptatibus! Placeat, repellendus?</p>
        </div>

        <div class="incidence">
            <div class="incidence-title"><p>Este es el titulo</p><p>12/12/2020</p></div>
            <p class="incidence-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspiciatis veritatis placeat esse, qui nam ea aspernatur voluptas consectetur tenetur animi ex, expedita blanditiis eum ipsa impedit voluptatibus! Placeat, repellendus?</p>
        </div>

        <div class="incidence">
            <div class="incidence-title"><p>Este es el titulo</p><p>12/12/2020</p></div>
            <p class="incidence-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspiciatis veritatis placeat esse, qui nam ea aspernatur voluptas consectetur tenetur animi ex, expedita blanditiis eum ipsa impedit voluptatibus! Placeat, repellendus?</p>
        </div>

        <div class="incidence">
            <div class="incidence-title"><p>Este es el titulo</p><p>12/12/2020</p></div>
            <p class="incidence-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspiciatis veritatis placeat esse, qui nam ea aspernatur voluptas consectetur tenetur animi ex, expedita blanditiis eum ipsa impedit voluptatibus! Placeat, repellendus?</p>
        </div>

        <div class="incidence">
            <div class="incidence-title"><p>Este es el titulo</p><p>12/12/2020</p></div>
            <p class="incidence-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, perspiciatis veritatis placeat esse, qui nam ea aspernatur voluptas consectetur tenetur animi ex, expedita blanditiis eum ipsa impedit voluptatibus! Placeat, repellendus?</p>
        </div>
    </div>

    <div class="new-incidence-btn">Nueva incidencia</div>
</div>