<div class="content">
    <form>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label class="bmd-label-floating">Nombre de la empresa</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="bmd-label-floating">Teléfono</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="bmd-label-floating">Email</label>
                    <input type="email" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Nombre</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bmd-label-floating">Apellidos</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="bmd-label-floating">Dirección</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="bmd-label-floating">Localidad</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="bmd-label-floating">Provincia</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="bmd-label-floating">Código postal</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <label class="bmd-label-floating">Logo de la empresa</label>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                      </div>
                </div>
            </div>
            <div class="col-md-6 company-logo">
                <img src="../../../../assets/images/company_logo.jpg" alt="">
            </div>
        </div>
        <button class="btn btn-primary pull-right">Actualizar perfil</button>
        <div class="clearfix"></div>
    </form>
</div>
