*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    min-height: 100%;
}

h1, h2, h3, h4{
    color: #034872;
}


/**************************************/
/*TOP BANNER SECTION*/
/**************************************/

.top-banner{
    display: flex;
    min-height: 75vh;
    height: 75vh;
    background-image: url(../../../assets/images/water_banner.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.top-banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 5%;
}

.top-banner-text img{
    width: 70%;
}

.top-banner-text h1{
    color: white;
    font-size: 2.2rem;
    text-align: center;
}

.top-banner-text p{
    margin-top: 20px;
    text-align: justify;
}

.download-button{
    color: white;
    background-color: #23a366;
    border: 1px solid #0d683d;
    width: 180px;
    padding: 3% 5%;
    margin-top: 5%;
    font-size: 1.2rem;
    font-weight: 600;
}

.top-banner-image{
    width: 45%;
}

.top-banner-image img{
    max-width: 100%;
}


/**************************************/
/*FEATURES SECTION*/
/**************************************/

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 5% 15% 5%;
    background-color: rgb(245, 245, 245);
}

.title-features-container{
    width: 430px;
}

.type-effect-features{
    font-family: 'Roboto Mono', monospace;
    font-size: 34px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: typeEffectFeatures 1s steps(21, end);
}

.features-row{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
}

.feature{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.feature img{
    width: 100px;
}

.feature h3{
    margin: 20px;
}

.feature p{
    padding: 0 20%;
    text-align: justify;
}

@keyframes typeEffectFeatures{
    from{
        width: 0%;
    }
}


/**************************************/
/*INFO SECTION*/
/**************************************/

.info{
    display:flex;
}

.info-image{
    width: 50%;
    background-color: black;
}

.info-text{
    width: 50%;
    padding: 5%;
    background-color: white;
}

.info-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.info-text p{
    margin: 8% 0 8% 0;
}

.info-text li{
    margin-bottom: 2%;
}

/* .places{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
    width: 30%;
}

.place img{
    width: 126px;
} */


/**************************************/
/*PUBLIC HEALTH IMPLICATIONS SECTION*/
/**************************************/
.public-health{
    padding: 10% 5%;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);
}

.public-health-implications{
    height: 400px;
    background-image: url("../../../assets/images/public_health.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.implications-row{
    display: flex;
    height: 50%;
    align-items: center;
}

.implications-row:nth-child(1){
    justify-content: space-between;
}

.implications-row:nth-child(2){
    justify-content: center;
}

.implication {
    display: flex;
    width: 40%;
}

.implication:nth-child(2){
    justify-content: flex-end;
}

.implication-number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 10%;
    background-color: #034872;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}

.implication-text{
    background: #000;
    text-align: center;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    color: #fff;
    font-size: 0.8em;
    text-indent: 0;
}

.public-health h1, .public-health h3{
    text-align: center;
}

.public-health h1{
    margin-bottom: 5%;
}

.public-health h3{
    color: rgb(63, 63, 63);
    margin-bottom: 2%;
}


/**************************************/
/*STATISTICS SECTION*/
/**************************************/
.statistics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8% 5%;
    background-color: rgb(245,245,245);
    background-image: url("../../../assets/images/stats_background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.statistics h1{
    color: white;
}

.graphic{
    height: 250px;
    min-width: 800px;
    width: 800px;
    position: relative;
}

/*lines*/
.join-line1, .join-line2, .join-line3, .join-line4, .join-line5, .join-line6, 
.join-line7{
    position: absolute;
    background: rgb(187, 17, 17);
    width: 0px;
    height: 3px;
}

.join-line1 {
    transform: rotate(-38deg);
    top: -35px;
    left: 43%;
    transform-origin: 14em 30em;
    animation: move1 0.5s 1s linear forwards;
}

.join-line2 {
    transform: rotate(1deg);
    transform-origin: 20em -22em;
    top: 155px;
    left: 23%;
    animation: move2 0.5s 1.5s linear forwards;
}

.join-line3 {
    transform: rotate(-8deg);
    transform-origin: 20em -22em;
    top: 110px;
    left: 25%;
    animation: move2 0.5s 2s linear forwards;
}

.join-line4 {
    transform: rotate(-1deg);
    transform-origin: 20em -22em;
    top: 135px;
    left: 40%;
    animation: move2 0.5s 2.5s linear forwards;
}

.join-line5 {
    transform: rotate(-1deg);
    transform-origin: 20em -22em;
    top: 133px;
    left: 51%;
    animation: move2 0.5s 3s linear forwards;
}

.join-line6 {
    transform: rotate(-15deg);
    transform-origin: 20em -22em;
    top: 68px;
    left: 48%;
    animation: move2 0.5s 3.5s linear forwards;
}

.join-line7 {
    transform: rotate(-15deg);
    transform-origin: 20em -22em;
    top: 47px;
    left: 58%;
    animation: move2 0.5s 4s linear forwards;
}

/*balls*/
.ball1, .ball2, .ball3, .ball4, .ball5, .ball6, .ball7, .ball8{
    background-color: red;
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    position: absolute;
    z-index: 99;
    transform: scale(0);
}

.ball1{
    animation: point 0.1s 0.95s linear forwards;
}

.ball2{
    animation: point 0.1s 1.45s linear forwards;
}

.ball3{
    animation: point 0.1s 1.95s linear forwards;
}

.ball4{
    animation: point 0.1s 2.45s linear forwards;
}

.ball5{
    animation: point 0.1s 2.95s linear forwards;
}

.ball6{
    animation: point 0.1s 3.45s linear forwards;
}

.ball7{
    animation: point 0.1s 3.95s linear forwards;
}

.ball8{
    animation: point 0.1s 4.45s linear forwards;
}

/*pulses*/
.pulse1, .pulse2, .pulse3, .pulse4, .pulse5, .pulse6, .pulse7, .pulse8{
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 1px solid black;
    position: relative;
    transform: scale(0);
    animation: pulse 1s ease-out;
} 

/*ball text*/
.ball1 a, .ball2 a, .ball3 a, .ball4 a, .ball5 a, .ball6 a, .ball7 a, .ball8 a{
    float: left;
    height: 20px;
    width: 20px;
    text-decoration: none;
    position: relative;
}

.ball1 a small, .ball2 a small, .ball3 a small, .ball4 a small, .ball5 a small, .ball6 a small, 
.ball7 a small, .ball8 a small{
    background: #000;
    text-align: center;
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    display: none;
    color: #fff;
    font-size: 0.8em;
    text-indent: 0;
}

.ball1 a:hover small, .ball2 a:hover small, .ball3 a:hover small, .ball4 a:hover small, 
.ball5 a:hover small, .ball6 a:hover small, .ball7 a:hover small, .ball8 a:hover small{
    display: block;
    position: relative;
    top: 0px;
    left: 50%;
    margin: -40px;
    z-index: 9999;
    animation: tooltip .25s linear;
}

.graphic-year{
    font-size: 0.8rem;
    padding-top: 25px;
    color: white;
}

/*coordinate points*/
.ball1{
    top: 200px;
    left: 10%;
}

.ball2{
    top: 141.48px;
    left: 20%;
}

.ball3{
    top: 141.56px;
    left: 30%;
}

.ball4{
    top: 130.60px;
    left: 40%;
}

.ball5{
    top: 129.66px;
    left: 50%;
}

.ball6{
    top: 129.31px;
    left: 60%;
}

.ball7{
    top: 107.62px;
    left: 70%;
}

.ball8{
    top: 86.57px;
    left: 80%;
}

/*animations*/
@keyframes move1 {
    0% {
        width: 0px;
    }

    100% {
        width: 12%;
    };
}

@keyframes move2 {
    0% {
        width: 0px;
    }

    100% {
        width: 10%;
    };
}

@keyframes point {
    0%  {
        transform: scale(0,0);
    }

    100% {
        transform: scale(1,1);
    }	
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    10% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.75);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    };
} 

@keyframes tooltip {
    0%  { 
        transform: scale(0,0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2,1.2);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.9,0.9);
        opacity: 0.7;
    }

    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}


/**************************************/
/*ABOUT APP SECTION*/
/**************************************/

.about-app{
    display: flex;
    padding: 5% 0;
    background-color: white;
}

.about-app-text{
    width: 50%;
    padding: 5%;
}

.about-app-image{
    width: 50%;
}

.about-app-text p{
    margin: 5% 0;
}

.about-app-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/**************************************/
/*REGISTER SECTION*/
/**************************************/

.register-background{
    background-image: url("../../../assets/images/register_background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0d683eab;
    height: 450px;
    color: white;
}

.register-end{
    height: 100px;
    background-color: #0e472cf1;
}

.register h1, .register h2{
    margin-bottom: 2%;
    color: white;
}