<div class="content">
    <section>
        <div class="top-banner">
            <div class="top-banner-text">
                <h1>Gestiona todas las medidas de una manera cómoda y eficaz</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, repudiandae? Perferendis quasi veritatis odio eos vel, ipsum rem accusantium laborum assumenda tenetur saepe possimus placeat rerum. Id aut unde a.</p>
                <button class="download-button">Descargar</button>
            </div>
            <div class="top-banner-image">
                <img src="../../../assets/images/mockup_app_login.png">
            </div>
        </div>
    </section>

    <section>
        <div class="features">
            <div class="features-row">
                <div class="feature">
                    <img src="../../../assets/images/ph.png">
                    <h3>Registro diario</h3>
                    <p>Digitaliza el registro diario de mediciones del agua de temperatura y cloro</p>
                </div>

                <div class="feature">
                    <img src="../../../assets/images/register.png">
                    <h3>Genera informes</h3>
                    <p>Genera informes de los datos y envialos directamente a la empresa correspondiente</p>
                </div>

                <div class="feature">
                    <img src="../../../assets/images/company.png">
                    <h3>Gestion tus empresas</h3>
                    <p>Centraliza los datos de todas las empresas con las que trabajes en un solo dispositivo</p>
                </div>
            </div>
        </div> 
    </section>
    
    <section>
        <div class="info">
            <div class="info-image">
                <img src="../../../assets/images/legionella_control_image.jpg">
            </div>
            <div class="info-text"></div>
        </div>
    </section>

    <!-- STATISTICS SECTION -->
    <section>
        <div class="statistics">
            <h1>La legionella se ha más que duplicado en su número de casos desde el 2011</h1>
            <div class="graphic">
                <!-- 2011 -->
                <div id="layer-ball1" class="ball1">
                    <a><small>4000 casos</small></a>
                    <p class="graphic-year">2011</p>
                </div>
                <div id="layer-pulse1" class="pulse1"></div>
                <div class="join-line1"></div>
                
                <!-- 2012 -->
                <div id="layer-ball2" class="ball2">
                    <a><small>5852 casos</small></a>
                    <p class="graphic-year">2012</p>
                </div>
                <div id="layer-pulse2" class="pulse2"></div>
                <div class="join-line2"></div>
                
                <!-- 2013 -->
                <div id="layer-ball3" class="ball3">
                    <a><small>5844 casos</small></a>
                    <p class="graphic-year">2013</p>
                </div>
                <div id="layer-pulse3" class="pulse3"></div>
                <div class="join-line3"></div>
                
                <!-- 2014 -->
                <div id="layer-ball4" class="ball4">
                    <a><small>6943 casos</small></a>
                    <p class="graphic-year">2014</p>
                </div>
                <div id="layer-pulse4" class="pulse4"></div>
                <div class="join-line4"></div>
                
                <!-- 2015 -->
                <div id="layer-ball5" class="ball5">
                    <a><small>7034 casos</small></a>
                    <p class="graphic-year">2015</p>
                </div>
                <div id="layer-pulse5" class="pulse5"></div>
                <div class="join-line5"></div>

                <!-- 2016 -->
                <div id="layer-ball6" class="ball6">
                    <a><small>7069 casos</small></a>
                    <p class="graphic-year">2016</p>
                </div>
                <div id="layer-pulse6" class="pulse6"></div>
                <div class="join-line6"></div>

                <!-- 2017 -->
                <div id="layer-ball7" class="ball7">
                    <a><small>9238 casos</small></a>
                    <p class="graphic-year">2017</p>
                </div>
                <div id="layer-pulse7" class="pulse7"></div>
                <div class="join-line7"></div>

                <!-- 2018 -->
                <div id="layer-ball8" class="ball8">
                    <a><small>11343 casos</small></a>
                    <p class="graphic-year">2018</p>
                </div>
                <div id="layer-pulse8" class="pulse8"></div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="about-app">
            <div class="about-app-text"></div>
            <div class="about-app-image">
                <img src="../../../assets/images/about_app_image.jpeg">
            </div>
        </div>
    </section>
    
    <section>
        <div class="register">
            <h1>Registrate ahora ¡Gratis!</h1>
            <button>REGISTRO</button>
        </div>
    </section>
</div>


Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
Icons made by <a href="https://icon54.com/" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
<div>Icons made by <a href="https://smashicons.com/" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<div>Icons made by <a href="https://www.flaticon.com/authors/mavadee" title="mavadee">mavadee</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>