<div class="content">
    <!-- TOP BANNER -->
    <section>
        <div class="top-banner">
            <div class="top-banner-text">
                <img src="../../../assets/images/legiodat_letter_logo.png">
                <h1>Gestiona todas las medidas de una manera cómoda y eficaz</h1>
                <button class="download-button">DESCARGAR</button>
            </div>
            <div class="top-banner-image">
                <img src="../../../assets/images/mockup_app_login.png">
            </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section>
        <div class="features">
            <div class="title-features-container">
                <h1 class="type-effect-features">Cómo podemos ayudarte</h1>
            </div>
            <div class="features-row">
                <div class="feature">
                    <img src="../../../assets/images/ph.png">
                    <h3>Registro diario</h3>
                    <p>Digitaliza el registro diario de mediciones del agua de temperatura y cloro</p>
                </div>

                <div class="feature">
                    <img src="../../../assets/images/register.png">
                    <h3>Genera informes</h3>
                    <p>Genera informes de los datos y envialos directamente a la empresa correspondiente</p>
                </div>

                <div class="feature">
                    <img src="../../../assets/images/company.png">
                    <h3>Gestion tus empresas</h3>
                    <p>Centraliza los datos de todas las empresas con las que trabajes en un solo dispositivo</p>
                </div>
            </div>
        </div> 
    </section>
    
    <!-- INFO -->
    <section>
        <div class="info">
            <div class="info-image">
                <img src="../../../assets/images/legionella_control_image.jpg">
            </div>
            <div class="info-text">
                <h1>blabla bla blablabla</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat omnis, sint mollitia quod eos atque et error. Iure minima incidunt itaque corrupti fuga explicabo, dolores fugiat recusandae, impedit enim quis.</p>
                <ul>
                    <li>Hoteles</li>
                    <li>Torres de refrigeracion</li>
                    <li>Otra cosa</li>
                    <li>Otra cosa más</li>
                </ul>
            </div>
        </div>
        <!-- <div class="places">
            <div class="place">
                <img src="../../../assets/images/hotel.jpg" alt="">
                <h2>Hoteles</h2>
            </div>
            <div class="place">
                <h2>Hospitales</h2>
                <img src="../../../assets/images/hospital.png" alt="">
            </div>
            <div class="place">
                <img src="../../../assets/images/school.png">
                <h2>Colegios</h2>
            </div>
            <div class="place">
                <h2>Torres de refrigeración</h2>
                <img src="../../../assets/images/cooling_tower_smoke.png">
            </div>
        </div> -->
    </section>

    <!-- PUBLIC HEALTH IMPLICATIONS SECTION -->
    <section>
        <div class="public-health">
            <h1>Implicaciones en la sanidad pública</h1>
            <div class="public-health-implications">
                <div class="implications-row">
                    <div class="implication">
                        <div class="implication-number">1</div>
                        <div class="implication-text">Este es el texto 1</div>
                    </div>
                    <div class="implication">
                        <div class="implication-text">Este es el segundo texto y blablablab añlskdjf lñaksj</div>
                        <div class="implication-number">2</div>
                    </div>

                </div>
                <div class="implications-row">
                    <div class="implication">
                        <div class="implication-number">3</div>
                        <div class="implication-text">alskdfj lskd la lñasl osoa jl yu alsj</div>
                    </div>
                    <div class="implication">
                        <div class="implication-text">asdkf jañsl ñlaksj fls looos lk</div>
                        <div class="implication-number">4</div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- STATISTICS SECTION -->
    <section>
        <div class="statistics">
            <h1>La legionella se ha más que duplicado en su número de casos desde el 2011</h1>
            <div class="graphic">
                <!-- 2011 -->
                <div id="layer-ball1" class="ball1">
                    <a><small>4000 casos</small></a>
                    <p class="graphic-year">2011</p>
                </div>
                <div id="layer-pulse1" class="pulse1"></div>
                <div class="join-line1"></div>
                
                <!-- 2012 -->
                <div id="layer-ball2" class="ball2">
                    <a><small>5852 casos</small></a>
                    <p class="graphic-year">2012</p>
                </div>
                <div id="layer-pulse2" class="pulse2"></div>
                <div class="join-line2"></div>
                
                <!-- 2013 -->
                <div id="layer-ball3" class="ball3">
                    <a><small>5844 casos</small></a>
                    <p class="graphic-year">2013</p>
                </div>
                <div id="layer-pulse3" class="pulse3"></div>
                <div class="join-line3"></div>
                
                <!-- 2014 -->
                <div id="layer-ball4" class="ball4">
                    <a><small>6943 casos</small></a>
                    <p class="graphic-year">2014</p>
                </div>
                <div id="layer-pulse4" class="pulse4"></div>
                <div class="join-line4"></div>
                
                <!-- 2015 -->
                <div id="layer-ball5" class="ball5">
                    <a><small>7034 casos</small></a>
                    <p class="graphic-year">2015</p>
                </div>
                <div id="layer-pulse5" class="pulse5"></div>
                <div class="join-line5"></div>

                <!-- 2016 -->
                <div id="layer-ball6" class="ball6">
                    <a><small>7069 casos</small></a>
                    <p class="graphic-year">2016</p>
                </div>
                <div id="layer-pulse6" class="pulse6"></div>
                <div class="join-line6"></div>

                <!-- 2017 -->
                <div id="layer-ball7" class="ball7">
                    <a><small>9238 casos</small></a>
                    <p class="graphic-year">2017</p>
                </div>
                <div id="layer-pulse7" class="pulse7"></div>
                <div class="join-line7"></div>

                <!-- 2018 -->
                <div id="layer-ball8" class="ball8">
                    <a><small>11343 casos</small></a>
                    <p class="graphic-year">2018</p>
                </div>
                <div id="layer-pulse8" class="pulse8"></div>
            </div>
        </div>
    </section>
    
    <section>
        <div class="about-app">
            <div class="about-app-text">
                <h1>La digitalización no es el futuro</h1>
                <h1>¡Es el presente!</h1>
                <p>Hoy en día es blabla Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit magni dolor ut voluptas optio explicabo. Earum praesentium suscipit ratione aspernatur maxime corrupti eligendi, commodi quis sint dolor assumenda enim maiores.</p>
            </div>
            <div class="about-app-image">
                <img src="../../../assets/images/digitalization.gif">
            </div>
        </div>
    </section>
    
    <section>
        <div class="register-background">
            <div class="register">
                <h1>Registrate ahora</h1>
                <h2>Contacta con nosotros para una prueba gratuita</h2>
                <button>REGISTRO</button>
            </div>
            <div class="register-end"></div>
        </div>
    </section>
</div>

