<div class="content">
    <div class="user-panel-content">
        <div class="side-menu-bg">
            <div class="side-menu">
                <div class="side-menu-title">LegioDat</div>
                <ul>
                    <li class="selected ">Dashboard</li>
                    <p>Tus datos</p>
                    <li>Perfil</li>
                    <li>Empresas</li>
                    <li>Calendario</li>
                    <p>Agua caliente y fria</p>
                    <li>Nueva medida</li>
                    <li>Puntos de medida</li>
                    <p>Climatización</p>
                    <li>blablabal</li>
                    <li>blablabla</li>
                </ul>
            </div>
        </div>
        <div class="section-display">
            <div class="section-display-header">
                <h2>{{sectionSelected}}</h2>
                <p>Esto es un subtitulo para cada sección</p>
            </div>
            <div class="section-display-content">
                <app-user></app-user>
            </div>
        </div>
    </div>
</div>