/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Rosario', sans-serif;
}

body{
    margin: 0;
}

p{
    color: rgb(63, 63, 63);
    font-weight: 400;
}